#box{
    height: 150px;
    width: 200px;
    margin: 0 auto;
    width: 50%;
    border-radius: 5%;
    box-shadow: 
    0 0 20px #00ffff,
    0 0 40px #00ffff,
    0 0 60px #00ffff,
    0 0 80px #00ffff,
    0 0 100px #00ffff,
    0 0 120px #00ffff,
    0 0 140px #00ffff;
    justify-content: center;
}

#text{
    justify-content: center;
}